<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='isa.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='isa.png') }}" class="icon" style="width: 200px;" />
  <h3>Quiero un resumen del episodio de Mi Mejor Version</h3>
  <form action="/" method="post">
    <input type="text" name="episodio" placeholder="Que episodio te interesa?" required />
    <input type="submit" value="Generar Resumen" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
